body {
    background-color: white;
    color: rgb(15, 20, 25);
}

.navigation {
    height: 100vh;
}

.menu_line {
    border-radius: 10px;
    padding: 8px;
    margin-left: 32%;
    margin-right: 32%;
}
.edit_profile{
    width: 72;
    height: 32;
    margin: -32 auto 20 0;
    float: right;
    font-size: 11;
    border-radius: 10px;
    border-style: none;
}
.menu_line:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.tzeetbtn {
    border-radius: 10px;
    width: 100px;
    border-style: none;
    margin: 0 auto;
}
.perfil_image {
    margin: 16 600 16 8;
    border-radius: 100%;
    background-color: rgb(23, 91, 181);
}
.tiziu_icon{
    margin: 16 auto 16 8;
}

.name {
    color: rgb(15, 20, 25);
}

.profile {
    text-align: left;
}
.adress {
    text-align: left;
}
.id {
    color: rgb(83, 100, 113);
}

.bio {
    color: rgb(15, 20, 25);
}

.locDate {
    color: rgb(83, 100, 113);
}

.date {
    color: rgb(83, 100, 113);
}

.text {
    color: rgb(15, 20, 25);
}

a.int {
    color: rgb(15, 20, 25);
    font: bold;
}

a.int:hover {
    text-decoration: underline;
}

.statistic {
    color: rgb(83, 100, 113);
}

.statistic:hover {
    text-decoration: underline;
}

.menu2 {
    border-radius: 10px;
}

.menu2:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.actions {
color: rgb(83, 100, 113);
border-radius: 10px;
}

.actions:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 0.1);
}

.tzeet {
    color: rgb(15, 20, 25);
}
.tzeet:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
