body {
    background-color: white;
    color: rgb(15, 20, 25);
}

body a {
    text-decoration: none;
    color: black;
  }

.navigation {
    height: 100vh;
}

.menuLine {
    border-radius: 10px;
    padding: 8px;
    margin-left: 22%;
    margin-right: 22%;
}
.editProfileBttn{
    width: 72;
    height: 32;
    margin: -32 auto 20 0;
    float: right;
    font-size: 11;
    border-radius: 10px;
    border-style: none;
}
.menuLine:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.tzeetbtn {
    border-radius: 10px;
    width: 100px;
    border-style: none;
    margin: 0 auto;
}
.perfilImage {
    margin: 16 600 16 8;
    border-radius: 100%;
    background-color: rgb(23, 91, 181);
}
.tiziu_icon{
    padding-left: 8;
    margin: 16 auto 16 8;
}

.name {
    color: rgb(15, 20, 25);
}

.profile {
    text-align: left;
}
.content {
    text-align: left;
}

.bio {
    color: rgb(15, 20, 25);
}
.id {
    color: rgb(83, 100, 113);
}

.locDate a{
    color: rgb(83, 100, 113);
}

.date {
    color: rgb(83, 100, 113);
}

.text {
    color: rgb(15, 20, 25);
}

a.int:hover {
    text-decoration: underline;
    background-color: rgba(15, 25, 20, 0.1);
}

.statistic a{
    color: rgb(83, 100, 113);
}

a.statistic:hover {
    text-decoration: none;
}

.publications a {
    text-decoration: none;
    padding : 10px 25px;
    color : rgb(83, 100, 113);
}

.publications a:hover
{
    background-color : rgb(83, 100, 113);
    color : white;
    border-radius: 10px;
}

.reply:hover {
   color:rgba(29, 155, 240, 1); 
}

.like:hover {
    color: rgba(249, 24, 128, 1);
}
.retzeet:hover{
    color:  rgba(0, 186, 124, 1);
}

.tzeet {
    color: rgb(15, 20, 25);
}
.tzeet:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.moldura  {
    padding: 16px;
}